@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Sora:wght@500;600;700&display=swap');

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

body {
	font-family: 'Manrope', sans-serif;
	background: #f4f6ee;
	color: #12202b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Sora', sans-serif;
}
